<body class="about-us bg-gray-300">
    <!-- -------- START HEADER 7 w/ text and video ------- -->
      <div class="page-header min-vh-100" style="background-image: url('https://www.nasa.gov/sites/default/files/styles/full_width/public/thumbnails/image/main_image_star-forming_region_carina_nircam_final-1280.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center mx-auto my-auto">
              <h1 class="text-white">App Title</h1>
              <p class="lead mb-4 text-white opacity-8">Short notice about app!</p>
              <button type="submit" class="btn bg-white text-dark" style="margin-right:10px;">Button #1</button>
              <button type="submit" class="btn bg-white text-dark" style="margin-right:10px;">Button #2</button>
              <h6 class="text-white mb-2 mt-5">Find us on</h6>
              <div class="d-flex justify-content-center">
                <a href="javascript:;"><i class="fa fa-facebook text-lg text-white me-4"></i></a>
                <a href="javascript:;"><i class="fa fa-instagram text-lg text-white me-4"></i></a>
                <a href="javascript:;"><i class="fa fa-twitter text-lg text-white me-4"></i></a>
                <a href="javascript:;"><i class="fa fa-google-plus text-lg text-white"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- -------- END HEADER 7 w/ text and video ------- -->
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
      <!-- Section with four info areas left & one card right with image and waves -->
      <section class="py-7">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="info">
                <h5><span class="fa fa-globe fa-fw"></span>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p>
              </div>
            </div>
            <div class="col">
              <div class="info">
                <h5><span class="fa fa-envelope fa-fw"></span>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p></div>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div class="info">
                <h5><span class="fa fa-home fa-fw"></span>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p></div>
            </div>
            <div class="col">
              <div class="info">
                <h5><span class="fa fa-phone fa-fw"></span>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p></div>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div class="info">
                <h5><span class="fa fa-linkedin fa-fw"></span>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p></div>
            </div>
            <div class="col">
              <div class="info">
                <h5><i class="fa fa-google fa-fw"></i>H5 Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.</p></div>
            </div>
            
          </div>
          <br>
          <div class="row">
            <div class="card">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <a class="d-block blur-shadow-image">
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="font-weight-normal">
                  <a href="javascript:;">Call To Action</a>
                </h5>
                <p class="mb-0">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <button type="button" class="btn bg-gradient-info btn-sm mb-0 mt-3">Button</button>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- END Section with four info areas left & one card right with image and waves -->
      <!-- -------- START Features w/ pattern background & stats & rocket -------- -->
      <section class="pb-5 position-relative bg-gradient-dark mx-n3">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-start mb-5 mt-5">
              <h3 class="text-white z-index-1 position-relative">H3 Title</h3>
              <p class="text-white opacity-8 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- -------- END Features w/ pattern background & stats & rocket -------- -->
      <section class="pt-4 pb-6" id="count-stats">
        <div class="container">
          <div class="row ">
            <div class="col">
              <h1 class="text-gradient text-info" id="state1"><span id="state1"></span>/</h1>
              <h5>H5 Title</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col">
              <h1 class="text-gradient text-info"><span id="state2"></span>+</h1>
              <h5>H5 Title</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col">
              <h1 class="text-gradient text-info"><span id="state3">24</span>/7</h1>
              <h5>H5 Title</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
      <section class="my-5 pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 m-auto">
              <h4>H4 Title - Call To Action</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              <div class="row">
                <div class="col">
                  <div class="input-group input-group-outline">
                    <label class="form-label">Placeholder ...</label>
                    <input type="text" class="form-control mb-sm-0">
                  </div>
                </div>
                <div class="col">
                  <button type="button"
                    class="btn bg-gradient-info mb-0 h-100 position-relative z-index-2">Button</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- -------- END PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
    </div>
    <hr>
  </body>